<!DOCTYPE html>
<html>

<head>
    <%- include ('../../layouts/header.ejs'); %>
</head>

<body>
    <br><br>
    <div style="text-align: center;">
        <h2><%= title %></h2>
    </div>
    <br>
    <form action="/users/upload-csv" enctype="multipart/form-data" method="post" name="form1" class="container">
        <div class="form-group">
            <div class="form-group row">
                    <label for="image" class="col-2"><strong>Import File: </strong></label>
                    <input type="file" name="csv_file" class="form-control col-6" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
            <a class="btn btn-danger delete" href="/users/">Cancel</a>
        </div>
    </form>
</body>

</html>